*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundMain);
    width: 100vw;
    height: 120vh;
}

:root{
    --backgroundHeader: #303030;
    --generalText: #ffffff;
    --backgroundMain: rgba(0, 0, 0, 0.38);
    --background: rgba(255, 255, 255, 0.6);
    --backgroundAside: #424242;
    --inputsText: #303030;
    --title: #000000;
    --generalTextSize: .8rem;
    --generalWeight: 600;
    --titlesTextSize: .9rem;
    --titlesWeight: 700;
}




                    /* HEADER */

.header{
    background-color: var(--backgroundHeader);
}

.header-title{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:var(--generalText);
    text-shadow: 
                            8px 8px #ff1f8f,
                            20px 20px transparent;
    }

.header-button-box{
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-header{
    border: none;
    background-color: var(--backgroundHeader);
    color: var(--generalText);
    padding: 12px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-header span, .button-header label{
    font-size: 14px;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--generalWeight);
}

.button-header:hover, .button-header:active, .button-header:focus{
    background-color: var(--background);
    outline: none;
    color: var(--inputsText);
}

.button-night input{
    display: none;
}




                    /* MEME CANVAS  */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-big-box{
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.meme-text{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 3%;
    width: 90vw;
}

.meme-box{
    background-color: #000000;
    width: 90vw;
    height: 38vh;
    flex-grow: 1;
    background-size: cover;
}




                        /* DOWNLOAD BUTTON */

.download-button{
    background-color: var(--backgroundHeader);
    color:var(--generalText);
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin: 2% 0;
}

.download-button:hover, .download-button:focus{
    opacity: 0.6;    
    outline: none;
}




                       /* MEDIA FOR MAIN PAGE */

@media(min-width: 500px){
    body{
        height: 160vh;
    }

    .meme-big-box{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .meme-box{
        width: 80vw;
        height: 42vh;
    }
    .meme-text{
        width: 80vw;
    }
}

@media(min-width: 700px){
    .meme-big-box{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .meme-box{
        width: 610px;
        height: 500px;
    }
    .meme-text{
        font-size: 30px;
        width: 610px;
    }
}





                        /* ASIDE */

.aside{
    width: 100vw;
    height: 130vh;
    background-color: var(--backgroundAside);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color:var(--generalText);
    font-family: 'Open Sans', sans-serif;
    padding: 3%;
    display: none;
}

.close-aside{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: transparent;
    color: var(--generalText);
    border: none;
    padding: 5%;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.close-aside:focus, .close-aside:hover{
    opacity: 0.6;
    outline: none;
}

.close{
    display: none;
}

.title-aside{
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.none{
    display: flex;
    align-items: flex-end;
}

label{
    font-size: var(--titlesTextSize);
    font-weight: var(--titlesWeight);
    margin: 10px 0;
}

textarea, select, input[type=number], .button{
    background-color: var(--background);
    color: var(--inputsText);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.spanColor{
    font-size: var(--generalTextSize);
}

.margin-top{
    margin-top: 10px;
}

.check{
    margin-top: 12px;
    margin-right: 5px;
}

.color-box{
    background-color: var(--background);
    color: var(--inputsText);
    padding: 8px;
    border-radius: 5px;
    font-size: var(--generalTextSize);
    font-weight: var(--generalWeight);
}

.color-display{
    background-color: var(--background);
    border: none;
    width: 30px;
    font-size: 1rem;
}

.none select{
    background-color: var(--background);
    color: var(--inputsText);
    border: none;
    border-radius: 5px;
    font-size: var(--generalTextSize);
    font-weight: var(--generalWeight);
    padding: 11px 3px;
}

.margin-right{
    margin-right: 5px;
}

.range{
    background-color: var(--background);
    appearance: none;
    border-radius: 10px;
    height: 6px;
    margin: 5px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--generalText);
}

.restart-button{
    padding: 8px;
    margin-top: 20px;
    border: none;
    background-color: var(--background);
    color: var(--inputsText);
    border-radius: 5px;
}

.aside button:hover, .aside button:focus, form textarea:hover, form textarea:focus, form input:focus, form input:hover, form select:focus, form select:hover{
    box-shadow: 0px 0px 12px 0px #ff1f8f;
}


@media(min-width: 600px){
    .aside{
        width: 300px;
        height: 160vh;
    }
}
