*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: #31353F;
    width: 100vw;
    height: 120vh;
}

:root{
    --obscure: #191F2B;
    --white: #ffffff;
    --grey: #4E5665;
    --darkgrey: #262A35;
    --generalTextSize: .8rem;
    --generalWeight: 600;
    --titlesTextSize: .9rem;
    --titlesWeight: 700;
}


                    /* Header */

.header{
    background-color: var(--obscure);
    color: var(--white);
}

.header-title{
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.header-button-box{
    text-align: center;
}

.button-header{
    border: none;
    background-color: var(--obscure);
    color: var(--white);
    padding: 12px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-header span{
    font-size: 14px;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
}

.button-header:hover, .button-header:active{
    background-color: var(--grey);
    outline: none;
}

                    /* Meme  */

.main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.meme-big-box{
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meme-text{
    background-color:var(--white);
    color: #000000;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 3%;
}

.meme-box{
    background-color: #000000;
    width: 90vw;
    height: 38vh;
    flex-grow: 1;
    background-size: cover;
}


                        /* Download button */

.download-button{
    background-color: #27A327;
    color: var(--white);
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 2%;
}

.download-button:hover{
    opacity: 0.6;    
}

                       /* Media for central page */

@media(min-width: 500px){
    .meme-big-box{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .meme-box{
        width: 80vw;
        height: 42vh;
    }
}

@media(min-width: 700px){
    .meme-big-box{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .meme-box{
        width: 610px;
        height: 500px;
    }
    .meme-text{
        font-size: 30px;
    }
}



                        /* Aside */

.aside{
    width: 100vw;
    height: 120vh;
    background-color: var(--darkgrey);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    padding: 3%;
    display: none;
}

.close-aside{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--darkgrey);
    color: var(--white);
    border: none;
    padding: 5%;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.close{
    display: none;
}

.title-aside{
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.none{
    display: flex;
    align-items: flex-end;
}

label{
    font-size: var(--titlesTextSize);
    font-weight: var(--titlesWeight);
    margin: 10px 0;
}

textarea, select, input[type=number], .button{
    background-color: var(--grey);
    color: var(--white);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.margin-top{
    margin-top: 10px;
}

.check{
    margin-top: 12px;
    margin-right: 5px;
}

.color-box{
    background-color: var(--grey);
    padding: 8px;
    border-radius: 5px;
    font-size: var(--generalTextSize);
    font-weight: var(--generalWeight);
}

.color-display{
    background-color: var(--grey);
    border: none;
    width: 30px;
    font-size: 1rem;
}

.none select{
    background-color: var(--grey);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--generalTextSize);
    font-weight: var(--generalWeight);
    padding: 11px 10px;
}

.margin-right{
    margin-right: 12px;
}

.range{
    background-color: var(--grey);
    appearance: none;
    border-radius: 10px;
    height: 6px;
    margin: 5px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--white);
}

.restart-button{
    padding: 8px;
    margin-top: 20px;
    border: none;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 5px;
}

@media(min-width: 600px){
    .aside{
        width: 40vw;
    }
}

@media(min-width: 800px){
    .aside{
        width: 30vw;
    }
}